<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar cita</title>
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
        }

        body {
            line-height: 1.5;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            min-height: 100dvh;
        }

        html {
            font-family: sans-serif;
            background: #f2f2f2;
            scroll-behavior: smooth;
	    }

        img, picture, video, canvas, svg {
            display: block;
            max-width: 100%;
        }

        input, button, textarea, select {
            font: inherit;
        }

        p, h1, h2, h3, h4 {
            overflow-wrap: break-word;
        }

        p {
            text-wrap: pretty;
        }

        h1, h2, h3, h4 {
            text-wrap: balance;
        }

        #root, #__next {
            isolation: isolate;
        }

        @media (prefers-reduced-motion: reduce) {
            html {
                scroll-behavior: auto;
            }
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;
        }

        header a,
        header button {
            background: none;
            text-decoration: none;
            margin: 0;
            cursor: pointer;
            color: #fff;
            padding: 0 15px;
            border-radius: 9999px;
            
            &:hover {
                background-color: #0078d4;
            }

            &:active {
                background-color: #095894;
            }
        }

        main {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        figure {
            margin: 0;
        }

        .employeCard {
            max-width: 320px;
            border: 2px solid deeppink;
            border-radius: 1.25rem;
            overflow: hidden;
            cursor: pointer;
            background: #13151a;
            color: #f2f2f2;
            text-align: center;
            box-shadow: 0 0 10px #222;
            transition: scale .3s ease,
                        box-shadow .3s ease;

            &:hover {
                scale: 1.05;
                box-shadow: 4px 6px 12px #222;
            }
        }

        .employeCard span {
            padding: 1rem;
        }
    </style>
</head>
<body>
    <header>
        <h2>Agenda tu cita</h2>
        <a href="/">Volver</a>
    </header>

    <main>
        <form id="dateForm"></form>
        <article class="employeCard">
            <figure>
                <img src="https://preview.redd.it/what-do-you-think-v0-c71arj0mnuce1.jpeg?width=640&crop=smart&auto=webp&s=c0ecf9325dd6f690d73103024a0bf98d34208918" alt="Foto de perfíl">
            </figure>
            <span>
                Nombre del empleado
            </span>
        </article>
        <article class="employeCard">
            <figure>
                <img src="https://preview.redd.it/what-do-you-think-v0-c71arj0mnuce1.jpeg?width=640&crop=smart&auto=webp&s=c0ecf9325dd6f690d73103024a0bf98d34208918" alt="Foto de perfíl">
            </figure>
            <span>
                Nombre del empleado
            </span>
        </article>

    </main>
</body>
</html>

<script>
    const $ = el => document.querySelector(el)

    const dateForm = $('#dateForm')
    const employes = async () => {
        const employe = await fetch('http://localhost:3000/api/dashboard/users/2', {
            method: 'GET'
        }).then(res => res.json())

        return employe.users
    } 
    
    const users = employes()

    console.log({users})

    for (const user in users) {
        dateForm.innerHTML = `
            <article data-id='${user.id}' class="employeCard">
                <figure>
                    <img src="https://preview.redd.it/what-do-you-think-v0-c71arj0mnuce1.jpeg?width=640&crop=smart&auto=webp&s=c0ecf9325dd6f690d73103024a0bf98d34208918" alt="Foto de perfíl">
                </figure>
                <span>
                    ${user.name}
                </span>
            </article>
        `
    }
</script>