<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar cita</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        body {
            line-height: 1.5;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: column;
            min-height: 100dvh;
        }

        html {
            font-family: sans-serif;
            background: #f2f2f2;
            scroll-behavior: smooth;
        }

        img,
        picture,
        video,
        canvas,
        svg {
            display: block;
            max-width: 100%;
        }

        input,
        button,
        textarea,
        select {
            font: inherit;
        }

        p,
        h1,
        h2,
        h3,
        h4 {
            overflow-wrap: break-word;
        }

        p {
            text-wrap: pretty;
        }

        h1,
        h2,
        h3,
        h4 {
            text-wrap: balance;
        }

        #root,
        #__next {
            isolation: isolate;
        }

        @media (prefers-reduced-motion: reduce) {
            html {
                scroll-behavior: auto;
            }
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4rem;
        }

        header a,
        header button {
            background: none;
            text-decoration: none;
            margin: 0;
            cursor: pointer;
            color: #fff;
            padding: 0 15px;
            border-radius: 9999px;

            &:hover {
                background-color: #0078d4;
            }

            &:active {
                background-color: #095894;
            }
        }

        main {
            display: grid;
            place-items: center;
        }

        figure {
            margin: 0;
        }

        #service-list {
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .service-card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.05);
            }

            h3 {
                margin: 0;
            }

            p {
                margin: 0;
            }

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        #date-selection {
            display: none;
            gap: 20px;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            input {
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #333;
            }

            button {
                padding: 10px 20px;
                border-radius: 10px;
                background-color: #333;
                color: white;
                border: none;
                cursor: pointer;
            }
        }

        #confirm-section {
            display: none;
            gap: 20px;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            button {
                padding: 10px 20px;
                border-radius: 10px;
                background-color: #333;
                color: white;
                border: none;
                cursor: pointer;
            }
        }

        .selected {
            border: 2px solid #333;
        }

        #dateForm {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    </style>
</head>

<body>
    <header>
        <h2>Agenda tu cita</h2>
        <a href="/">Volver</a>
    </header>

    <main>
        <form id="dateForm">
            <div id="service-list">
                <div class="service-card" data-service="1" onclick="selectService('corte-de-cabello', '<%= id %>' ,'7b8b070e-0770-11f0-869c-14cb1909f90e', 200)">
                    <h3>Corte de cabello</h3>
                    <p>Duraci칩n: 30 minutos</p>
                    <p>empleado2</p>
                    <img src="haircut.jpg" alt="Corte de cabello">
                </div>
                <div class="service-card" data-service="2" onclick="selectService('manicura', '<%= id %>', '9751caa5-06d8-11f0-b25d-14cb1909f90e', 150)">
                    <h3>Manicura</h3>
                    <p>Duraci칩n: 45 minutos</p>
                    <p>empleado1</p>
                    <img src="manicure.jpg" alt="Manicura">
                </div>
            </div>
            <div id="date-selection">
                <input type="date" id="date" required>
                <input type="time" id="time" required>
                <button id="back-service" type="button">Atr치s</button>
                <button type="button" onclick="selectDate()">Siguiente</button>
            </div>
            <div id="confirm-section">
                <h3>Confirmar cita</h3>
                <p id="service"></p>
                <p id="employe"></p>
                <p id="date-time"></p>
                <p id="price"></p>
                <button id="back-date" type="button">Atr치s</button>
                <button type="button" onclick="confirmDate()">Confirmar</button>
            </div>
        </form>
    </main>
</body>

</html>

<script>
    const $ = el => document.querySelector(el)

    const back_date = $('#back-date')
    const back_service = $('#back-service')
    const service1 = $('.service-card[data-service="1"]')
    const service2 = $('.service-card[data-service="2"]')

    let date = {
        day: '',
        time: '',
        description: '',
        id_client: '',
        id_employe: '',
        price: 0
    }

    function selectService(service, client, employe, price) {
        date.id_client = client
        date.description = service
        date.id_employe = employe
        date.price = price
        $('#service-list').style.display = 'none'
        $('#date-selection').style.display = 'flex'
    }

    function selectDate() {
        date.day = $('#date').value
        date.time = $('#time').value
        $('#date-selection').style.display = 'none'
        $('#confirm-section').style.display = 'flex'

        $('#service').textContent = `Servicio: ${date.description}`
        $('#employe').textContent = `Empleado: ${date.id_employe}`
        $('#date-time').textContent = `Fecha y hora: ${date.day} ${date.time}`
        $('#price').textContent = `Precio: $${date.price}`
    }

    function confirmDate() {
        fetch('/dates/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(date)
        })
        .then(res => {
            if (res.ok) {
                alert('Cita agendada correctamente')
                window.location.href = '/'
            }
        })
    }

    back_date.addEventListener('click', () => {
        $('#confirm-section').style.display = 'none'
        $('#date-selection').style.display = 'flex'
    })

    back_service.addEventListener('click', () => {
        $('#date-selection').style.display = 'none'
        $('#service-list').style.display = 'flex'
    })

    service1.addEventListener('click', () => {
        service1.classList.add('selected')
        service2.classList.remove('selected')
    })

    service2.addEventListener('click', () => {
        service2.classList.add('selected')
        service1.classList.remove('selected')
    })
</script>