<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de citas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: grid;
            place-items: center;
            height: 100dvh;
            background-color: #f0f0f0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            gap: 5rem;
        }

        .form {
            min-width: 400px;

            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 2rem;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Hola <%= username %>!</h1>
    <p>este sitio esta protegido</p>
    <a href="/">Ir al inicio</a>
</body>
</html>